* {
    margin: 0px;
    padding: 0px;
}

.horizontal-container {
    max-width: 1000px;
    margin: 0 auto;
}

button {
    max-width: 100px;
    border-radius: 3px;
    padding: 5px;
}

.app-container {
    display: flex;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #999;
    min-width: 30%;
    height: 400px;
    padding: 20px;
}

.active {
    filter: brightness(70%);
}

.medication {
    background-color: lightgray;
    padding: 20px;
    border-radius: 5px;
}

#medication-container { 
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 10px;
}

.display-container {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    align-items: center;
    justify-content: center;

    ;
}